<!DOCTYPE html>
<html>
<head>
    <title>Профиль гонщика</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    <header>
        <h2 align="center">Заполнение профиля гонщика</h2>
    </header>
    <div class="auth-container-2">
        <h2>Введите данные о гонщике</h2>
        <hr>
        <br>
        <form method="post" class="auth-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="auth-button">Сохранить профиль</button>
        </form>
    </div>

</body>
</html>
