<!DOCTYPE html>
<html>
<head>
    <title>Личный кабинет</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/racer_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
</head>
<body>
    <header>
        <h2>Личный кабинет</h2>
        <nav>
            <a href="{% url 'all_races' %}">Главная</a>
            <a href="{% url 'logout' %}">Выйти</a>
        </nav>
    </header>
    <section class="race-list">
        <div class="container">
            <div class="profile-container">
                <div class="profile-header">
                    <img src="{% static 'images/racers/icon.png' %}" class="race-icon" alt="{{ racer.full_name }}">
                    <div class="racer-info">
                        <h2 class="text-primary">{{ racer.full_name }}</h2>
                        <p class="text-muted">Класс: {{ racer.racer_class }}</p>
                    </div>
                </div>
                <div class="card-body">
                    <p><strong>Описание автомобиля:</strong> {{ racer.car_description }}</p>
                    <p><strong>О себе:</strong> {{ racer.participant_description }}</p>
                    <p><strong>Опыт:</strong> {{ racer.experience }} лет</p>
                    <p><strong>Команда:</strong> {{ racer.team.name }}</p>
                </div>
            </div>

            <div class="registrations">
                <h3>Мои регистрации на гонки</h3>
                {% if registrations %}
                    <div class="registration-list">
                        {% for registration in registrations %}
                            <div class="list-group-item list-group-item-action race-row d-flex justify-content-between align-items-center">
                                <img src="{% static 'images/races/' %}{{ registration.race.id }}.jpg" class="race-icon" alt="{{ registration.race.name }}">

                                <div class="race-info">
                                    <p><strong>Гонка:</strong> {{ registration.race.name }}</p>
                                    <p><strong>Тип:</strong> {{ registration.race.type }}</p>
                                    <p><strong>Дата гонки:</strong> {{ registration.race.date }}</p>
                                    <p><strong>Дата регистрации:</strong> {{ registration.race.date }}</p>
                                    <p><strong>Статус:</strong> {{ registration.get_status_display }}</p>
                                </div>

                                <div class="d-grid gap-2 w-20 extra-buttons">
                                    <form method="POST" action="{% url 'cancel_registration' registration.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-cancel">Отменить гонку</button>
                                    </form>
                                    <br>
                                    <a href="{% url 'create_review' registration.id %}" class="btn btn-success">Оставить отзыв</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Вы не зарегистрированы ни на одну гонку.</p>
                {% endif %}
            </div>
        </div>
    </section>
</body>
</html>
